# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.
/.vite/
/node_modules/
/public/
/src/
/src/assets/
/src/Components/
/src/Components/AuthPage.jsx
/src/Components/Dashboard.jsx
/src/Components/Feedback.js
/src/Components/Login.jsx
/src/Components/Navbar.jsx
/src/Components/Notebook.jsx
/src/Components/Profile.css
/src/Components/Profile.jsx
/src/Components/Register.jsx
/src/App.css
/src/App.jsx
/src/index.css
/src/main.jsx
/src/style.css
/.gitignore
/eslint.config.js
/index.html
/package.json
/package-lock.json
/README.md
/vite.config.js
